.dashboard-container {
  display: flex;
  background-color: $off-white;
  font-family: $sans-pro;

}

.dashboard-container-left {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 90vh;
}

.dashboard-container-right {
  display: flex;
  flex-direction: column;
  width: 67%;
  height: 90vh;
}
