.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
}

.reviews-index {
  width: 100%;
  height: 250px;
  overflow-y: scroll;

  border: 3px solid gray;
  border-left: none;
  border-right: none;
  background-color: white;
}

.reviews-add-review {
  margin: 10px;
  padding: 5px;
  background-color: $dark-brown;
  border-radius: 3px;
  color: white;
}

.reviews-add-review:hover {
  background-color: white;
  padding: 4px;
  border: 1px solid $dark-brown;
  color: $dark-brown;
}

.review-index-item {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.review-item-body {
  padding-bottom: 10px;
}

.review-item-author {
  padding-bottom: 10px;
  font-size: 14px;
  font-style: italic;
  color: gray;
}

.review-item-content {

}

.review-own-buttons {
  display: flex;
  padding-bottom: 10px;
}

.review-update-button {
  margin-right: 10px;
  padding: 3px;
  background-color: $dark-brown;
  border-radius: 3px;
  color: white;
}

.review-update-button:hover {
  background-color: white;
  padding: 2px;
  border: 1px solid $dark-brown;
  color: $dark-brown;
}

.review-delete-button {
  padding: 3px;
  background-color: $dark-brown;
  border-radius: 3px;
  color: white;
}

.review-delete-button:hover {
  background-color: white;
  padding: 2px;
  border: 1px solid $dark-brown;
  color: $dark-brown;
}

.review-form-update {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.review-form-add {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 10px;
}

.review-form-input {
  width: 100%;
  height: 100px;
}

.review-form-body {
  width: 100%;
  height: 100%;
  background-color: $really-light-gray;

}

.review-form-submit {
  margin-top: 7px;
}

.review-form-submit-button {
  padding: 3px;
  background-color: $dark-brown;
  border-radius: 3px;
  color: white;
}

.review-form-submit-button:hover {
  background-color: white;
  padding: 2px;
  border: 1px solid $dark-brown;
  color: $dark-brown;
}
