.place-holder {
  height: 0;
}

.dashboard-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 20px;

  font-family: $sans-pro;
  background-color: white;

}

.sidebar-user-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sidebar-name-status {
  display: inline-block;
  text-align: center;
  width: 50%;
  vertical-align: top;
  margin: 10px 0px 10px 10px;
}

.sidebar-profile-picture {
  width: 36%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
  display: inline-block;

  border: 1px solid black;
}

.sidebar-user-name {
  font-weight: 600;
  font-size: 28px;
}

.sidebar-user-status {
  font-size: 18px;
  color: green;
}

.sidebar-user-sofas {
  height: 70%;
  margin: 0px 15px;
  overflow-y: scroll;
}

#sidebar-user-sofas-text {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.sidebar-user-sofas-text {
  font-size: 24px;
  margin: 15px;
}

.sidebar-user-sofa {
  display: flex;
  flex-direction: column;

  padding: 10px 5px;
  border: 1px solid gray;
  border-left: none;
  border-right: none;

  background-color: blanchedalmond;
}

.sidebar-user-sofa-info {
  display: flex;
  margin-bottom: 10px;
}

.sidebar-user-sofa-picture {
  width: 40%;
  height: 100%;
  border: 1px solid black;
  margin-right: 15px;
}

.sidebar-user-sofa-info-right {
  display: flex;
  flex-direction: column;
}

.sidebar-user-sofa-address {
  margin-bottom: 15px;
}

.sidebar-user-num-guests {

}

.sidebar-user-reviews {
  width: 55px;
  margin-bottom: 10px;
  padding: 2px;
  border: 1px solid $dark-brown;
  border-radius: 3px;
  color: $dark-brown;
}

.sidebar-user-reviews:hover{
  background-color: $dark-brown;
  color: blanchedalmond;
}

.sidebar-user-sofa-buttons {

}

.sidebar-user-sofa-button {
  margin-right: 15px;
  padding: 2px;
  border: 1px solid $dark-brown;
  border-radius: 3px;
  color: $dark-brown;
}

.sidebar-user-sofa-button:hover {
  background-color: $dark-brown;
  color: blanchedalmond;
}

.sidebar-user-add-sofa {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;

  background-color: $dark-brown;
  color: white;
}

.sidebar-user-add-sofa:hover {
  border: 1px solid $dark-brown;
  color: $dark-brown;
  background-color: white;
}
